<beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <!-- bean definitions here -->
        <bean class="com.wizaye.Dev" id="dev">

        </bean>
<!--        Another Object of the Dev with a different ID that will be created inside the IOC-->
<!--        <bean class="com.wizaye.Dev" id="dev1">-->

<!--        </bean>-->
</beans>

<!--get the definition of beans by spring 6 bean config xml file -->